html {
  /* margin-bottom: 400px; */
  font-family: 'Cairo', 'Titilium Web', 'Open Sans', sans-serif;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  scroll-behavior: smooth;
  line-height: 1.5;
}
* {
  box-sizing:border-box;
}
.alice-text {
  color: aliceblue;
}
.alice-background {
  background: aliceblue;
}

.color-1 {
  color: #FCF7F8;
}
.color-1-background {
  background: #FCF7F8;
}

.color-2 {
  color: #404040;
}
.color-2-background {
  background: #404040;
}

.color-3 {
  color: #ABA9C3;
}
.color-3-background {
  background: #ABA9C3;
}

.color-4 {
  color: #275DAD;
}
.color-4-background {
  background: #275DAD;
}

.color-5 {
  color: #5B616A;
}
.color-5-background {
  background: #5B616A;
}

/* color codes
  #485563 main, background
  #757A80 slighty lighter, bluish
  #486356 lighter, greenish
  #393C40 darker, bluish
  #BFBFBF very light, grayish
  #404040 darker, grayish
 */
 .iconLink {
   color:#BFBFBF;
   transition: .3s;
 }
 .iconLink:hover {
   color:navy;
   font-size: 1.05;
 }
.nav {
  background: #404040;
  color: #BFBFBF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:2em;
}
.navLinks {
  color:#BFBFBF;
  text-decoration: none;
  padding:.5%;
  transition:.3s;
  white-space:nowrap;
  /* border-radius:.5rem; */
}
.navLinks:hover {
  color:#404040;
  background:#BFBFBF;
}
.topButtons {
  background: #404040;
  color: #BFBFBF;
  border-radius: .5rem;
  padding: 2% 3%;
  margin: 0 2%;
  cursor: pointer;
  border:.5px #BFBFBF solid;
  font-size:1.25rem;
  text-decoration:none;
  transition:.3s;
  white-space:nowrap;
}
.topButtons:hover {
  color:#404040;
  background:#BFBFBF;
}
.topButtons:focus {
  outline:none;
}
.buttonDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:2%;
}
.button1 {
  margin: 3% 1% 0 2%;
}
.button2 {
  margin: 3% 1% 0 1%;
}
.button3 {
  margin: 3% 2% 0 1%;
}

.programmer-icon {
  margin-top:10%;
}

.App {
  text-align: center;
}
.title {
  font-size: 2.5rem;

}
.subTitle {
  /* font-family:monospace; */
  letter-spacing: .04em;
  font-size: 19px;
  overflow: hidden;
  white-space:nowrap;
  margin: 0 auto;
  animation:
    typewriter 5s steps(25, end),
    cursor .5s step-end 7;
  animation-delay: 0s;
  border-right:1px transparent solid
}
.desc {
  padding:5% 10% 5%;
  font-size:1.15em;
  margin:auto;
  width: 85%;
}
@keyframes typewriter {
  from{width: 0px;}
  to{width: 400px;}
}
@keyframes cursor {
  from,to{border-color:transparent}
  50%{border-color:orange}
}
.skillsOuter {
  padding-top:5%;
  padding-bottom:10%;
  margin-top:50%;
}
.skillsTitle {
  font-size: 2rem;
  font-weight:600;
  text-decoration: underline;
}
.skillsDivHead {
  font-size: 1.5rem;
  font-weight: 500;
}
.skillsDiv {
  width:95%;
  max-width:1200px;
  border-radius:.5rem;
  margin:auto;
  margin-top: 10%;
  color: black;
  background:#BFBFBF;
  padding: 0;
}
.skillsList {
  width:40%;
  /* margin:auto; */
  font-size: 1.5rem;
  color: whitesmoke;
  list-style-type: none;
  margin-top:10%
}
.skillsHead {
  font-size:1.75rem;
  font-weight: 500;
  color:whitesmoke;
}
.skillsHeader {
  font-size: 1.75rem;
  /* border: 1px #CED3DC solid;
  border-radius: .5rem; */
  width: 50%;
  margin: auto;
  padding: 3% 0 3%;
  color: #333;
  text-decoration: underline;
}
.typeDiv {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:-5%
}
.skillsOuter {
  padding:0;
}
.skillsListItem {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skillsListHeader {
  text-align: center;
}
.skillType, .skillTypeFocus {
  margin: 5% 0 8%;
  text-decoration: underline;
  font-size: .88rem;
  border: none;
  background:transparent;
  cursor:pointer;
  transition:.3s;
  padding:2%;
  border-radius:.5rem;
  color:#404040;
  white-space: nowrap;
}
.skillTypeFocus {
  background:#404040;
  color:#BFBFBF;
}
.skillsDesc {
  padding:0 5%;
  font-size:1.05rem;
}
.skillType:hover {
  background:#404040;
  color:#BFBFBF;

}
/* do hex #1472FA */
.skillType:focus, .skillTypeFocus:focus {
  outline:none;
}
.skillTypeTitle {
  font-size:1.5rem;
  font-weight:500;
  margin-bottom:10%;
}
.svgButton {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius:.5rem;
  transition:.3s;
  padding:1%;
}
.svgButton:hover {
  background:#757A80;
}
.svgButton:focus {
  background:#486356;
  border-radius:.5rem;
  padding:1%;
  outline:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.info-header{
  font-size: 1.2em;
}
.header-div {
  position: relative;
  margin-top:15%;
  text-align: center;
  z-index: 5000;
}
.projectDiv {
  margin: 20% 0 15%;
  background: whitesmoke;
  padding:5% 0;
}
.projectHeader {
  font-size: 1.75rem;
  margin-bottom: 8%;
  font-weight: 500;
}
.projectTitle {
  margin-bottom:5%;
  font-size: 1.75rem;
  color: #404040;
  text-decoration: underline;
}
.yessnoLinkTitle:hover {
  color:hotpink;
}
.yessNoDesc {
  background: #485563;
  padding: 10%;
  color: #ECEEEF;
  font-size:1.1em;
}

.ssDiv {
  margin-top:10%;
  display: inline-grid;
  grid-template-rows: [begin] 33% [divider1] 33% [divider2] 33% [endline];
  grid-template-columns: [begin] 100% [endline];

  /* grid-template-rows: 1fr 1fr 1fr; */
}
.grid-desc {
  grid-row: begin / divider1;
  grid-column: begin/ endline;
  align-self: start;
  transition:.3s;
  font-size:1.02em;
  margin-top:-1em;
}
.innerTitle {
  font-size:1.7rem;
  font-weight:550;
  padding:0
}
.innerSubtitle {
  font-size: 1.3rem;
  font-weight:400;
}

.gitHubLink {
  color:navy;
}
/* .grid-desc:hover{
  width:120%;
  font-size:1.23rem;
} */
.imageLink1 {
  grid-row: divider1 / divider2;
  align-self: start;
}
.imageLink2 {
  grid-row: divider2 / endline;
  align-self: start;
}
.imageLink {
  width:40%;
  margin:auto;
}
.tripImage {
  width:50%;
  margin-top:10%;
  transition:1s;
  border-radius:.25rem;
}
.tripImage:hover {
  width:60%;
}
.yessnoImages {
 width:100%;
 transition: 1s;
 margin:auto;
}
.yessnoImages:hover {
  width:130%;
}
.techButton {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  transition: .3s;
  color:black;
}
.techButton:hover {
  color:navy;
  font-size:1.55rem;
}
.techDiv {
  margin-top:10%;
}
.innerDiv {
  background: #485563;
  padding: 0;
}
.minimize {
  font-size:1.15rem;
  color:#E5F2EA;
  margin-bottom: 2.5%;
}
.infoDiv {
  padding:5%;
  color:	#ECEEEF;
  font-weight: 350;
}
.titleDiv {
  background:	#6C7782;
  width:100%;
  padding:3%;
  color:	#ECEEEF;
}
.innerTitle {
  padding:0;
}
.innerSubtitle {
  padding:0;
}
.subHeading {
  font-size:1.25rem;
  font-weight:605;
  color: 	#ECEEEF;
}
.folioSect {
  margin-top:45%;
}

.techDescription {
  font-size:1.02em;
  font-weight:normal;
}
.program-icon {
  margin-top: 10%;
}
.subsectDiv {
  /* width:100%; */
}
.aboutSubDiv {
  padding-bottom:50px;
}
.aboutTitle {
  font-size:1.75rem;
  color:#BFBFBF;
}
.aboutDiv {
  background:#BFBFBF;
  width:95%;
  max-width:1200px;
  margin:auto;
  margin-bottom: 300px;
  border:.5rem #757A80 solid;
  border-radius:.5rem;
}
.aboutSubtitle {
  text-decoration: underline;
  font-weight:700;
  margin-top:7%;
  font-size: 1.25rem;
}
.aboutText {
  margin:3.5%;
}
.email {
  font-size:1.15em;
  color:black;
  text-decoration:none;
  transition:.3s;
}
.email:hover {
  text-decoration: underline;
  color:navy;
  font-size:1.2em;
}
@media only screen and (min-width:330px) {
  .skillType, .skillTypeFocus {
    font-size:.94rem;
  }
}
@media only screen and (min-width:350px) {
  .skillsOuter {
    margin-top:45%
  }
  .subTitle {
    font-size: 19px
  }
}
@media only screen and (min-width:450px) {
  .skillsDiv, .aboutDiv {
    width:75%;
  }
  .folioSect {
    margin-top:40%;
  }
  .grid-desc {
    font-size: 1.1rem
  }
  .skillType, .skillTypeFocus {
    font-size:1.0rem;
  }
  .skillsOuter {
    margin-top:40%
  }
  .buttonDiv {
    margin-top: 4%;
  }
  .subTitle {
    font-size: 21px
  }
  .techDiv {
    margin-top:9%
  }
}
@media only screen and (min-width:550px){
  .margin-top {
    margin-top: 35%
  }
  .techDiv {
    margin-top:15%
  }
  .innerDiv {
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    border-radius:.5rem;
    max-width: 1200px;
  }
  .titleDiv {
    border-radius: .5rem.5rem 0 0;
  }
  .skillsOuter {
    margin-top:30%
  }
  .buttonDiv {
    margin-top: 10%;
  }
}
@media only screen and (min-width:760px) {
  .folioSect{
    margin-top:20%;
  }
  .nav {
    height:2.25em;
  }
  .techDiv {
    margin-top:0;
  }
  .image1 {

  }
  .skillsOuter {
    margin-top:20%
  }
  .buttonDiv {
    margin-top: 6%;
  }
  .ssDiv {
    display:inline-grid;
    grid-template-columns: [begin] 1fr [divider1] 1fr [divider2] 1fr [endline];
    grid-template-rows: [begin] 1fr [endline];
  }
  .imageLink1 {
    grid-column: begin / divider1;
    grid-row: begin / endline;
    align-self:start;
  }
  .imageLink2 {
    grid-column: divider2 / endline;
    grid-row: begin / endline;
    align-self:start;
  }
  .grid-desc {
    grid-column: divider1 / divider2;
    grid-row: begin / endline;
    grid-row-end:auto;
    font-size:1.1rem;
  }
  .imageLink {
    width:60%;
  }
  .yessnoImages {
    width:90%;
    transition:1s;
  }
  .yessnoImages:hover {
    width:115%;
  }
  .yessNoDesc {
    border-radius: .5em;
  }
  .desc {
    width:70%
  }
  .title {
    /* margin-top: auto; */
  }
  .desc {
    margin-top: auto;
  }
  .topButtons {
    padding:1%;
    font-size:1.25rem;
  }
  .skillType, .skillTypeFocus {
    font-size:1.15rem;
  }
}
@media only screen and (min-width:900px) {
  .buttonDiv {
    margin-top: 6%;
  }
  .folio {
    margin-top:
  }

}
@media only screen and (min-width:1060px) {
  .buttonDiv {
    margin-top: 4%;
  }
  .skillsOuter {
    margin-top:10%
  }
  .desc {
    width:70%;
  }
  .skillsDiv, .aboutDiv {
    width: 60%;
  }
  .title {
    margin-top:-5%;
  }
  .yessNoDesc {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width:1200px) {
  .buttonDiv {
    margin-top: 2%;
  }
  .innerDiv {
    width:50%;
    margin:auto;
  }
}
